#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}
/* 
.canvas {
  display: none;
} */


@media (min-width: 425px) {
  .canvas {
    display: block;
    touch-action: none;
  }
  .phone {
    display: none;
  }
} 